<div class="bg-menu">
  <div class="container-menu">
    <div [routerLink]="['']" style="display: flex; align-items: center; width: 50%;cursor: pointer;">
      <img src="../../assets/sports_soccer_FILL0_wght400_GRAD0_opsz24.svg" />
      <h2 style="margin-top: 3%;">PROJETO FUTEBOL</h2>
    </div>
    <div style="display: flex; justify-content: space-around;align-items: center;">
        <button mat-button [routerLink]="['/campeonatos']">Campeonatos</button>
        <button mat-button [routerLink]="['/times']">Times</button>
        <button mat-button [routerLink]="">Teste</button>
    </div>
  </div>
</div>
