.bg-menu {
  background-color: #7be4d2bb;
  height: 8vh;
  display: flex;
  justify-content: center;
}
.container-menu{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
img{
    width: 6%;
}
